.container {
    background-color: rgb(51, 49, 49);
    border-radius: 20px;
}

.cart {
    background-color: rgb(51, 49, 49);
    border-radius: 20px;
}

.collection {
    background-color: rgb(51, 49, 49);
    border-radius: 20px;
}