#footer {
	background: url(../images/border-copyright.gif) repeat-x left bottom;
	border-top: 1px solid #5f6d6d;
	padding-bottom: 2px;
	position: relative;
}
#footer div.background {
	background: url(../images/bg-footer.jpg) repeat;
	padding: 30px 0;
}
#footer div.body {
	min-height: 107px;
	width: 900px;
	margin: 0 auto;
	padding: 0 30px;
}
#footer div.body div {
	float: left;
}
#footer div.body div h3 {
	color: #fff;
	letter-spacing: 1px;
	margin: 0 0 24px;
	text-align: left;
	text-shadow: 1px -1px #161a1b;
	text-transform: uppercase;
	font-size:larger;
}
#footer .subscribe {
	width: 300px;
}
#footer .subscribe form {
	padding-top: 6px;
}
#footer .subscribe form input.txtfield {
	float: left;
	background-position: 0 0;
	height: 35px;
	width: 176px;
	border: 0;
	margin-right: 10px;
	padding: 0px 2px;
}
#footer .subscribe form input.button {
	background-position: -162px -151px;
	cursor: pointer;
	height: 37px;
	width: 82px;
	border: 0;
}
#footer .subscribe form input.button:hover {
	background-position: 0 -151px;
}
#footer .posts {
	width: 380px;
	padding: 0 15px;
}
#footer .posts p {
	color: #aab4b6;
	font-size: 14px;
	line-height: 24px;
	margin: 0;
}
#footer .posts p a {
	color: #aab4b6;
	font-weight: bold;
	text-decoration: none;
}
#footer .posts p span {
	float: right;
	display: inline;
	margin-right: 6px;
 *margin-top: -24px;/** Needed for IE **/
}
#footer .connect {
	line-height: 24px;
	width: 140px;
	padding: 0 15px;
	text-align: center;
}
#footer .connect a {
	background: url(../images/icons.png) no-repeat;
	display: inline-block;
	height: 22px;
	width: 23px;
	margin: 5px 10px 5px 0;
}
#footer .connect a.facebook {
	background-position: -38px 0;
}
#footer .connect a.facebook:hover {
	background-position: 0 0;
}
#footer .connect a.twitter {
	background-position: -38px -46px;
	width: 28px;
}
#footer .connect a.twitter:hover {
	background-position: 0 -46px;
	width: 28px;
}
#footer .connect a.googleplus {
	background-position: -38px -90px;
}
#footer .connect a.googleplus:hover {
	background-position: 0 -90px;
}
#footnote {
	background-color: #393939;
	color: #808080;
	display: block;
	font-size: 12px;
	line-height: 30px;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: -30px;
	left: 0;
}
#footnote a {
	color: #808080;
	text-decoration: none;
}