#header {
	background: url(../images/bg-header.png) repeat-x;
	padding-bottom: 25px;
}
#header > div {
	height: 426px;
	width: 960px;
	margin: 0 auto;
	position: relative;
}
/** Logo **/
#logo {
	position: absolute;
	top: 36px;
	left: 338px;
}
/** Navigation **/
#navigation {
	display: inline-block;
	width: 960px;
}
#navigation div {
	background: url(../images/bg-info-links.png) no-repeat;
	color: #f9fbca;
	height: 32px;
	width: 180px;
	text-align: center;
}
#navigation div.infos {
	float: right;
}
#navigation div a {
	color: #fcf3b2;
	font-size: 14px;
	line-height: 32px;
	border-left: 1px solid #f9fbca;
	padding: 0 5px;
	text-decoration: none;

}
#navigation div a:first-child {
	border-left: 0;
	padding-left: 0;
}
#navigation ul {
	display: inline-block;
	list-style: none;
	width: 338px;
	margin: 144px 0 0;
	padding: 0;
}
#navigation li {
	float: left;
	width: 112px;
	text-align: center;
}
#navigation ul li a {
	color: #feffff;
	font-family: Impact;
	font-size: 24px;
	line-height: 36px;
	padding: 5px 0px 5px 3px;
	text-decoration: none;
}
#navigation ul li a span {
	padding: 5px 10px 5px 7px;
}
#navigation ul li a:hover, #navigation ul li.selected a {
	background: url(../images/bg-menu-selected-left.png) no-repeat left center;
	color: #fcf3b2;
}
#navigation ul li a:hover span, #navigation ul li.selected a span {
	background: url(../images/bg-menu-selected-right.png) no-repeat right center;
}
#navigation ul#primary {
	float: left;
}
#navigation ul#secondary {
	float: right;
}
/** Adbox **/
#adbox {
	width: 960px;
	margin: 0px auto 24px;
	position: relative;
}
#adbox ul {
	display: inline-block;
	list-style: none;
	margin: 0 30px;
	padding: 0;
}
#adbox ul li {
	float: left;
	width: 288px;
	margin-left: 16px;
}
#adbox ul li:first-child {
	margin-left: 0px;
}
#adbox ul li img {
	border: 1px solid #83826e;
}
#adbox h1, #contents h1 {
	background: url(../images/bg-heading.png) no-repeat center;
	color: #ffffb0;
	font-family: 'SancreekRegular';
	height: 61px;
	line-height: 60px;
	margin: 0 0 30px;
	text-align: center;
	text-transform: uppercase;
}